body{
	font-family: 'Raleway', sans-serif;
}
.navbar {
    border-bottom: 1px groove;

}

.jumbotron{
	background-image: url("img/background.jpg");
	text-align: center;
	padding: 30px;
	margin-top: 57px;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-attachment: fixed;
}


.cycle-slideshow img{
	width: 100%;
	
}
i.material-icons {
    position: absolute;
    top: 45%;
    z-index: 999;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.5);
}

i.material-icons.right {
    right: 5%;
}
i.material-icons.left {
    left: 5%;
}


.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

.picture_size{
	width: 100%;
}

.jumbotron h1{
	opacity: 0;
}

.scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#d1e083;
  color: white;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 4px;
}
.btn {
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#d1e083;
  color: white;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 4px;
}

@media only screen and (min-width: 576px) {
    .jumbotron{
        padding: 90px;
    }
    i.material-icons {
        top: 40%;
        font-size: 2rem;
        height: 30px;
        width: 30px;
    }
    i.material-icons.right {
        right: 10%;
    }
    i.material-icons.left {
        left: 10%;
    }
}

@media only screen and (min-width: 992px) { 
    i.material-icons {
        top: 45%;
        
    }
    i.material-icons.right {
        right: 6%;
    }
    i.material-icons.left {
        left: 6%;
    }

}